body{
	background-image: url(../images/back.jpg);
	background-repeat: no-repeat;
	background-size: 100% 120%;
}
#logo{
	color: #da9827;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 100px;
}